

#shellSpace {
    font-family: "Arial";
    font-size: 1.8rem;
    float: left;
}

#spBreadCrumb {
    padding-top: 30px;
}

#spBreadCrumb a {
    font-family: "Arial";
    padding-left: 20px;
}

#spBreadCrumb nav {
}

#shellFooter {

}

#spContent {
    padding-top: 15px;
}

#spNavBarItems {
    font-weight: bold;
}

#shellSpaceR {
    font-family: "Arial";
    margin-right: 20px;
    text-align: right;
    font-size: 2.1rem;
}